body {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5vw;
    background-color: #0f0f0f;
    color: #0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#terminal {
    padding: 2vh 2vw;
    width: 55vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
}

#header {
    text-align: left;
    margin-bottom: 2vh;
}

#attempts {
    display: flex;
    margin-bottom: 1vh;
}

#attempt-blocks {
    display: inline-block;
    margin-left: 1vw;
}

#game-container {
    display: flex;
    /*flex-grow: 1;
    width: 100%;
    height: 100%;*/
}

#columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#column1, #column2 {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#selection-history {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
}

#selection-history-top {
    flex-grow: 1;
    overflow-y: none;
    display: flex;
    flex-direction: column-reverse;
}

#selection-history-bottom {
    height: 7%;
    display: flex;
    align-items: end;
}

.blinking-cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

h1 {
    font-size: 1.8vw;
    margin: 1vh 0;
    font-weight: 100;
}

h2, h3 {
    font-size: 1.8vw;
    margin: 1vh 0;
    font-weight: 100;
}

p {
    font-size: 1.5vw;
    display: inline-block;
    margin: 0.2vh 0;
    letter-spacing: 0.1em; /* Spacing between individual letters, helps make the words and characters look more uniform */
}

.boot-number {
    letter-spacing: 0.1em;
    padding-right: 1ch;
    display: inline-block;
}

.selectable {
    cursor: pointer;
}

.selectable:hover {
    background-color: #0f0;
    color: #000;
}

.history-entry {
    margin-bottom: 0.2vh;
}

@media (max-width: 1024px) {
    #terminal {
        width: 90vw;
        height: 80vh;
    }

    h1, h2, h3 {
        font-size: 2.5vw;
    }

    p {
        font-size: 2.5vw;
    }
}

@media (max-width: 768px) {
    #terminal {
        width: 95vw;
        height: 75vh;
    }

    #columns {
        width: 100%;
    }

    #column1, #column2 {
        width: 48%;
    }

    #selection-history {
        width: 100%;
        margin-top: 2vh;
    }

    #selection-history-top, #selection-history-bottom {
        height: 50%;
    }
}

@media (max-width: 480px) {
    #terminal {
        width: 95vw;
        height: 75vh;
    }

    #columns {
        width: 100%;
        flex-direction: column;
    }

    #column1, #column2 {
        width: 100%;
    }

    #selection-history {
        width: 100%;
        margin-top: 2vh;
    }

    #selection-history-top, #selection-history-bottom {
        height: 50%;
    }

    h1, h2, h3, p {
        font-size: 3vw;
    }
}